{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
            I am a software engineer currently attending Springboard. I am currently living in Tucson, AZ and looking for opportunities to use my new and past skills to help a company succeed. I have 20 years of military experience in teamwork and leadership. This experience has taught me to adapt and overcome any problem I face. For the past 5 years as a geologist for the US Forest Service, I have a strong track record of helping mining companies of all sizes accomplish their goals of exploration and extraction of valuable minerals. I am well versed in working with multidisciplinary teams in order to develop clear and concise environmental analysis documents. I am driven by a strong desire and passion to learn new technologies. This helps me with staying abreast of new mining techniques in order to help the small miner achieve their goals.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}