{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url({{url_for('static',filename='img/hero-img.jpg')}})"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Rick's Blog</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Post column -->
    <div class="col-sm-6">
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{post.title}}</h2>
          <h3 class="post-subtitle">{{post.subtitle}}</h3>
        </a>
        <p class="post-meta">
          Posted by {{post.author.name}} on {{post.date}} {% if current_user.id
          == 1: %}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      {% endfor %}

      <!-- New Post -->
      {% if current_user.id == 1: %}
      <div class="clearfix">
        <a
          class="btn btn-primary float-right m-2"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
    </div>

    <!-- Headlines column -->
    <div class="col-sm-6 ps-3">
      <h2 class="text-center">Headlines</h2>
      <div class="list-group">
        {% for article in articles %}
        <a
          href="{{article['url']}}"
          target="_blank"
          class="list-group-item list-group-item-action article-link"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 article-title">{{article['title']}}</h5>
          </div>
          <p class="mb-1 text-truncate article-desc">
            {{article['description']}}
          </p>
          <small class="article-meta"
            >{{article['author'] if article['author'] else
            article['source']['name']}} </small
          ><small class="float-right article-meta"
            >{{article['publishedAt']}}</small
          >
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr />

  {% include "footer.html" %}
</div>
